/* You can add global styles to this file, and also import other style files */
.spacer {
  flex: 1 1 auto;
}

.avatar-number {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
